@page "/"
@inject ICountriesDataService CountriesDataService

<h2>COVID Data - Top 20 countries</h2>

@if (countries != null)
{
    <table>
        @foreach (var item in countries)
        {
            <tr>
                <th class="redWord">@item.Country</th>
                <th>@item.CountryCode</th>
                <th>@item.Slug</th>
                <th>@item.NewConfirmed</th>
                <th class="redWord">@item.TotalConfirmed</th>
                <th>@item.NewDeaths</th>
                <th>@item.TotalDeaths</th>
                <th>@item.NewRecovered</th>
                <th>@item.TotalRecovered</th>
                <th>@item.Date</th>
            </tr>
        }
    </table>
}

@code {
    private List<CountryData> countries;

    protected override async Task OnInitializedAsync()
    {
        countries = await CountriesDataService.GetTwentyMostConfirmed();
    }
}
